/* Override template style for this talk here */
.title h1 {
    color: #959B99;
    font-family: 'Lato';
    font-size: px;
    font-weight: 400;
    font-style: normal;
    font-variant: small-caps;
    background-color: white;
    padding-top: 20%;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
}

.title p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
}

.title a {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
}

.title img {
    width: 200px
}